.App {
  text-align: center;
  background: white;
  width: 100%;
}

.leaflet-container {
  height: 420px;
  width: 100%;
  z-index: 0;
}

.map-wrapper{
  position: relative;
  display:flex;
  flex-flow:column;
}

#map-instructions {
  position: absolute;
  margin: 20px 50px ;
  width: 25%;
  min-width:300px;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  z-index: 1000;
  overflow:hidden;
}

#map-instructions form > button{
    margin-top: 1rem;
}

.pink-btn{
    width: 100%;
}

.map-instructions-location h1{
    margin-bottom: 1rem;
    line-height:1.6rem;
}

/**
 NavBar
 */

 .login-container{
    display:flex;
    width: 100%;
    /*width: 40%;*/
 }

/* At the top level of your code */
/*@media screen and (max-width: 1023px) {*/
    /*.map-wrapper{*/

    /*}*/
/*}*/

#map-instructions *{
    width: 100%;
    margin-bottom: 0.5rem;
}

#map-instructions input{
    font-size: 1rem;
    font-weight: bold;
    color: #454F63;
    width:100%;
    height: 40px;
    padding: 6px;
    outline:none;

}

#map-instructions h1{
  color: #444;
  font-size: 1.2rem;
}

#map-instructions h3{
  font-size: 0.8rem;
}

/*
 DRIVERS
*/
.drivers-container{
  max-width: 100%;
  display:flex;
  background-color: white;
  padding:20px;
  overflow:hidden;

}

.driver-item-container{
   width: 200px;
   height: 300px;
   background-color: #2E3574;
   box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18) ;
   border-radius:12px;
   margin-right: 20px;
   border:1px solid #2E3574;
}

.driver-item-container:hover{
  transform: scale(1.2)
}


.driver-img-container{
  width:100%;
  height: 200px;
}

.driver-img-container img{
  border-radius:12px 12px 0 0;
  height: 100%;
}

.driver-item-content{
  text-align: left;
  padding:14px;
  color: white;

}

.driver-item-content h1{
  margin: 0;
  padding:0;
}

/* Driver Profile
 */
.driver-profile-container{
  text-align: center;
  width:100%;
  background-image: linear-gradient(to right, rgba(255,255,255,1), #F7F7FA);
  line-height:1rem;
  padding:1rem;
  margin: 0 auto;
}


.driver-profile-img-container img.round{
  width: 128px;
  height: 124px;
  border-radius:16px;
 }

 .driver-profile-main{
    color:white;
    background-color: #353A50;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 16px;
    position: relative;
    margin-bottom:1rem;
 }

.driver-profile-main textArea {
    width:100%;
    resize: none;
    overflow: visible;
    background-color: rgba(187, 188, 205, 0.3);
    color: white;
    outline:none;
    border:none;
    padding:1rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight:500;
    text-align: left;
    line-height: 1.3rem;
}

.driver-profile-main header{
   align-items: center;
   display:flex;
   text-align: left;
}

.driver-profile-container > header > h1{
   padding-top:1rem;
   font-size: 1.4rem;
   color:#454F63;
}
.driver-profile-container > header > h3{
   padding-top:0.5rem;
   color:#78849E;
}

.driver-profile-main .title{
   margin: 20px;
}

.driver-profile-main p{
  text-align: left;
  font-size: 1rem;
  line-height:1.5rem;
  padding: 0.6rem 2px 1.2rem 2px;
  /*padding:2px 0;*/
}

.driver-profile-img-avatar{
  width:40px;
  height:40px;
 }

.driver-profile-img-avatar img{
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius:50%;
}

.fav-button-bar {
  display: flex;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(100,100,100, 0.4);
  position: relative;
  padding-top:0.8rem;
}

.fav-button-bar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.fav-button-bar strong{
  margin-right: 6px;
  font-size: 0.7rem;
}

.fav-button-bar .fav{
  position: absolute;
  right: 0;
}

.fav-button-bar .chat{
  position: absolute;
  right: 70px;
}

.fav-button-bar .share{
  position: absolute;
  left: 0;
}

/*
*  Stats Container
 */
 .stats-container{
    display:flex;
    height: 88px;
    border-radius: 20px;
    padding: 20px;
    background-color:white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.1);
    margin: 1rem 0;
 }
.stats-container div{
  width:33%;
  padding: 10px 20px;
  border-right: 1px solid #eee;
  font-size: 0.8rem;
}
.stats-container div:last-of-type{
  border-right: none
}
.stats-container h2{
  color:#454F63;
}
.stats-container p{
  color:#78849E;
  font-size: 0.4rem;
}

/**
  Cars Container
 */
 .cars-container{
   text-align: left;
   width: 100%;
 }
.cars-container h3{
  margin: 1.2rem;
  color:#78849E;
}
.car-img-container{
  width: 100%;
  height: 100px;
}
.car-img-container img{
  max-width: 100%;
  border-radius: 12px;
}


/**
Edit Button
 */
 .edit-btn-container{
   position: absolute;
   top: 20px;
   right: 20px;
   color: #bbb;
   transition: all 0.6s ease;
 }

.edit-btn-container:hover{
  color: white;
  transform: scale(1.2);
}


/**
Review Container
 */

 .review-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #454F63;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 14px;
    line-height:1.2rem;
 }

.review-container > h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.star-container{
  position: absolute;
  right: 20px;
  top: 14px;
  justify-self : flex-start ;
}

.review-container p{
   margin-top: 2px;
   padding:0 2px;
   text-align: left;
   font-size: 1rem;
}

/**
    Trip Estimate
 */

.trip-estimate-container{
    color:white;
    background-color: #353A50;
    width: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.18) ;
    display:none;
    /*position: absolute;*/
    /*z-index:100;*/
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    /*bottom:0;*/
    /*transform: translateY(0);*/
}

.trip-estimate-container.slideup{
    display:block;
    /*bottom:300px;*/
    /*transform: translateY(-500px);*/
}


.brown-btn{
    background: #A39280;
    width: 100%;
    height: 52px;
    border-radius: 16px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}
.trip-estimate-content p{
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom:1.2rem;
}
.trip-estimate-content h2{
    font-size: 1.4rem;
    margin-bottom:0.5rem;
}
.trip-estimate-content h1{
    font-size: 1.2rem;
    font-weight:lighter;
    margin-bottom:2rem;

}
/**
 REVIEW
 */
.driver-review-container.review {
     display:flex;
     flex-direction: column;
     align-items: center;
     width: 90%;
 }

.driver-profile-main.review > h1{
    margin-top: 20px;
    font-size: 1.55rem;
}
.driver-profile-main.review > h2{
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.form-review textarea{
    border-radius: 16px;
    color: white;
    padding: 40px;
    font-size: 1.2rem;
}

.leave-review{
    border-top: 1px solid #555;
    padding-top: 20px;
    border-radius: 16px;
    margin-bottom: 2rem;
    line-height:1.6rem;
}

.leave-review p{
    text-align: center;
}

 /**
    Appbar
  */
  .icon-navbar{
    display:flex;
    justify-content: space-between;
  }




/* At the top level of your code */
@media screen and (max-width: 500px) {
    .map-wrapper{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .map-container{
        z-index: 1;
        width: 100%;
        margin-top: -20px;
    }

    #map-instructions {
        display:flex;
        z-index: 2;
        width: 100%;
        position: relative;
        border-radius: 16px;
        color:#959DAD;
        font-size: 0.8rem;
        margin:0 auto 20px auto;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18) ;
        opacity: 0.9;
    }

    #map-instructions form{
        text-align:left;
        margin: 0 10px;
    }
    .map-instructions-location{
        padding-top: 4px;
        /*border-bottom: 1px solid rgba(69, 91, 99, 0.15);*/
    }

    #map-instructions *{
        width: 100%;
        margin-bottom: 0;
        outline:none;
    }
    #map-instructions input{
        font-size: 1rem;
        font-weight: bold;
        color: #454F63;
        margin-bottom:4px;
    }
    .pink-btn{
        margin-top: 1rem;
    }
    .trip-estimate-container{
        color:white;
        background-color: #353A50;
        width: 90%;
        text-align: center;
        padding: 2rem;
        border-radius: 16px;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.18) ;
        display:none;
        position: absolute;
        z-index:100;
        transition: all 1s cubic-bezier(0, 1, 0.5, 1);
        /*bottom:0;*/
        transform: translateY(0);
    }

    .trip-estimate-container.slideup{
        display:block;
        bottom:200px;
        width: 90%;
        transform: translateY(-200px);
    }
    .login-container{
        display:none;
    }
}
